@import "bootstrap/dist/css/bootstrap.min.css";
@import "@fortawesome/fontawesome-free/css/all.min.css";

.login-container {
    width: 800px !important;
    margin-top: 10%;
}


.login-title {
  font-size: 2rem;
  font-weight: 700;
  color: #2c3e50;
  animation: fadeInDown 0.5s ease-out;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}