<div class="pagination-controls">
  <button 
    class="btn-page" 
    (click)="currentPage = currentPage - 1" 
    [disabled]="currentPage === 1">
    ← Prev
  </button>

  <span class="page-info">
    Page {{ currentPage }} of {{ totalPages }}
  </span>

  <button 
    class="btn-page" 
    (click)="currentPage = currentPage + 1" 
    [disabled]="currentPage === totalPages">
    Next →
  </button>
</div>

<div class="ticket-list">
  <div class="ticket-card" *ngFor="let ticket of paginatedTickets">
    <h2 class="ticket-title">{{ ticket.title }}</h2>
    <p class="ticket-description">{{ ticket.description }}</p>
    <div class="ticket-meta">
      <span class="meta-item">
        <strong>Tag:</strong> {{ tagsMap.get(ticket.tagId) || 'Undefined' }}
      </span>
      <span class="meta-item"><strong>Created By:</strong> {{ ticket.createdBy }}</span>
    </div>
    <div class="ticket-actions">
      <button class="btn-details" (click)="goToDetails(ticket.id)">Details</button>
    </div>
  </div>
    <button type="button" class="btn btn-success" (click)="goBack()">Go Back</button>

</div>