<div class="sidenav" [ngClass]="isLeftSideBarCollapsed() ? 'sidenav-collapsed' : ''">
  <div class="logo-container">
    <button class="logo" (click)="toggleCollapse()">
      <i class="fas fa-user-circle logo-icon"></i>
    </button>

    @if (!isLeftSideBarCollapsed()) {
      <div class="logo-text">
        <span class="logo-text-main">User Help Desk</span>
      </div>
      <button class="btn-close" (click)="closeSidenav()">
        <i class="fal fa-times close-icon"></i>
      </button>
    }
  </div>
   <ng-content></ng-content>
  
</div>