.add-status {
  max-width: 600px;
  margin: 0 auto;
}

.add-status ul.list-group {
  margin-top: 10px;
}

.add-status .spinner-border {
  width: 2rem;
  height: 2rem;
}

.header-actions {
  position: relative;
}

.btn-go-back {
  position: absolute;
  top: 11px;
  right: 16px;
}